.container {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 1rem;

  background-color: #000000;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.image {
  display: block;
  align-self: center;
  width: 100%;
  padding: 0.5rem;

  border-radius: 10px;
}
