.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  background-color: rgb(77, 75, 75);
  border-radius: 5px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.image {
  display: block;
  width: 100%;

  border-radius: 5px;
}
