.header {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navigation {   
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}