.list {
  margin: 0;
  padding: 0;
  display: grid;

  border: 1px solid #ffffff;
  border-radius: 5px;
  list-style: none;
}

.item {
  padding: 0.5rem;

  cursor: pointer;
}

.item:not(:last-of-type) {
  border-bottom: 1px solid #ffffff;
}
